/* CSS Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Noto Serif', serif;
}

.NameDiv {
    margin: auto;
    width: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.NameDiv input {
    width: 50%;
    margin-top: 10px;
    margin-right: 5px;
}
.NameDiv i{
    font-size: 22px;
    float: left;
    margin-left: -34px;
    margin-top: 5px;
}

.NameDiv .Scetor{
    margin-left: -50px;
    margin-bottom: 7px;
}

.NameDiv select{
    width: 55%;
    font-size: 15px;
}
.Rodapé .NameDiv 
{width: 90%;
}
body {
    /*caso  a imagem não funcione colocamos uma cor */
    background-color: royalblue;
    background-image: url("../img/Fundo_Cadastro.gif");
    /* background-image: url("Fundo_Cadastro.gif"); */
    background-size: cover;
    /* background-attachment: fixed;
    /* background-size: 100% 100%; */
    /* width: 100%; */
    height: 105vh;
}

.form {
    overflow: hidden;
    background: #d3d3d3;
    margin: 50px auto;
    text-align: center;
    border: 2px solid #069;
    border-radius: 10px;
    margin-top: 80px;
    width: 72%;
    height: 120vh;
    height: auto;
}






h1 {
    background: rgb(134, 166, 182);
    border-radius: 5px;
    padding: 5px;
}

h2 {
    margin-top: 22px;
    margin-bottom: 22px;
}


.information,
.Contact {
    display: flex;
    height: 70px;
    margin: auto;
    width: 90%;
    justify-content: space-around;
}

.information label,
.Contact label {
    margin-top: 1%;
    font-size: 22px;
}


.rodapé {
    height: 70px;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    width: 95%;
    margin: auto;
}

.rodapé label {
    font-size: 20px;
    margin-top: 1%;

}




input,
select {
    border-radius: 7px;
    height: 30px;
    border: none;
    margin: 5px;
}

input[type="radio"] {
    height: 12px;
}

input[type="submit"] {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 35px;
    font-size: 16px;
}

input[type="button"] {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 35px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background: #069;
    color: #fff;
}

input[type="button"]:hover {
    background: #069;
    color: #fff;
}

@media (max-width: 680px) {
    .form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 80%;
        height: auto;
        margin-top: 0;
    }

    input,
    label {
        margin: 5px;
    }
}


.middle {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border-radius: 15px;
    position: relative;
    display: block;
    color: rgb(12, 3, 3);
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #000000;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}

.btn::before {
    background-color: royalblue;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;

}

.btn4::before {
    color: white;
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.btn4:hover::before {
    height: 380%;

}