@media screen and (max-width: 1440px) and (min-width: 1024px) {


    .header {
        width: 100%;
    }

    .Resultado {
        width: 140px;
        padding: 5px;
    }

    .Width-Cards {
        width: 175px;
    }

    /* Cadastro */





}